/* SPDX-License-Identifier: ISC */

:root {
	line-height: 1.5;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	--a: 12px;
	--b: #fff;
	--c: #333;
	--o: 22px;
	--u: 10px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--b: #000;
		--c: #ddd;
	}
}

@media only screen and (max-width: 720px) {
	:root {
		--a: 8px;
	}
}

body {
	display: grid;
	grid-template-columns: 1fr min(720px, 100%) 1fr;
	color: var(--c);
	background-color: var(--b);
}

body > * {
	display: grid;
	grid-column: 2;
	grid-template-columns: repeat(6, var(--a)) calc(var(--a) * 6) 1fr;
}

body > * > * {
	grid-column: 7 / span 2;
}

h1, nav {
	grid-column: 1 / span 8;
	text-align: center;
}

h1 {
	font-size: 1.5rem;
	margin: 1em 0 2em 0;
}

h2 {
	grid-column: 1 / span 8;
	margin: 0 0 1.5em;
	font-size: 1.125rem;
}

h3 {
	grid-column: 2 / span 7;
	font-size: 1.125em;
	font-weight: normal;
	font-style: italic;
}

h4 {
	grid-column: 3 / span 6;
	font-size: 1rem;
}

h5 {
	grid-column: 4 / span 5;
	font-size: 1rem;
	font-style: italic;
}

h6 {
	grid-column: 5 / span 4;
	font-size: 1rem;
}

dd, dl, h3, h4, h5, h6, ol, p, pre, ul {
	margin: 0 0 1em;
}

a {
	color: var(--c);
}

dl {
	grid-column: 2 / span 7;
	display: block;
	grid-template-columns: calc(var(--a) * 11) 1fr;
}

dt {
	float: left;
	clear: both;
	vertical-align: top;
	margin-right: var(--a);
}

dd {
	float: right;
	width: calc(var(--a) * 33);
}

code {
	font-family: Courier, monospace;
	letter-spacing: -.5px;
}

ol {
	padding-left: var(--o);
}

ol li {
	padding-left: calc(var(--a) * 6 - var(--o));
}

ul {
	padding-left: var(--u);
	list-style-type: "–";
}

ul li {
	padding-left: calc(var(--a) * 6 - var(--u));
}

pre {
	grid-column: 8;
	width: 100%;
	overflow: scroll;
}

main img {
	max-width: 100%;
}

main footer {
	border-top: 1px solid var(--c);
	text-align: right;
}

mark {
	color: inherit;
	background: none;
	font-weight: bold;
}
